.search-results-filter {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;

    .side-wrapper {
        display: flex;
        align-items: center;
        height: inherit;

        button {
            background: #ffffff;
            border: 1px solid $myGreyBorder;
            height: inherit;
            min-width: 115px;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                background: $myGreyBorder;
            }
        }
    }
}