.new-ad-link {
    border: solid 0px;
    border-radius: 999px;
    background: #0fca80;
    color: #ffffff;
    height: 40px;
    min-width: 193px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    user-select: none;
    margin-right: 25px;

    &:hover {
        background: #0c9e64;
    }
}