@import "./SearchResults/SearchResults";
@import "./TopHeader/TopHeader";
@import "./MainHeader/MainHeader";
@import "./SearchResultsFilter/SearchResultsFilter";

.realestate-column {
  width: 695px;
  margin: auto;
  max-width: 100%;
}
