.initials-container {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: #fcf4e2;
    color: rgb(255, 144, 46)
}