.search-button {
    cursor: pointer;
    background: $myOrange;
    color: #ffffff;
    font-size: medium;
    font-weight: 600;
    border: none;
    padding: 11px 5px;
    height: 41px;
    width: 97px;

    &:hover {
        background: $myDarkOrange;
    }
}