#asset-address-form {
    display: flex;
    flex-direction: column;
    padding: 30px 0;

    input {
        border: solid 1px $myGreyBorder;
        border-radius: 5px;
    }

    label {
        padding-bottom: 5px;
    }

    select {
        height: 40px;
        width: 263px;
        margin-bottom: 15px;
        border: solid 1px $myGreyBorder;
        border-radius: 5px;
    }

    input {
        height: 40px;
        width: 263px;
        margin-bottom: 15px;
    }

    option {
        padding: 10px 0;
    }

    .input-wrapper {
        width: fit-content;
        position: relative;
        margin-left: 10px;

        .fa-xmark {
            position: absolute;
            left: 5px;
            top: 12px;
        }
    }

    span {
        width: 263px;
        font-size: 0.7rem;

        &.orange {
            margin: 15px 0;
            color: $myOrange;
            font-size: small;
        }
    }

    #is-on-stilts {
        height: 20px;
        width: 20px;
        margin: 20px 10px;
        background: $myOrange;
    }

}