.expand-search-button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    height: 41px;
    width: 138px;
    // margin-left: 10px;
    font-size: medium;
    background: rgba(159, 159, 159, 0.2);
    white-space: nowrap; // todo - try later to erase
}