@import './NewAdStepTopRow/NewAdStepTopRow';
@import './AssetAddressForm/AssetAddressForm';

.new-ad-step {
    background: #ffffff;
    min-width: 880px;
    padding: 30px 0 23px;
    margin: 10px 0;
}